body {
  margin: 90px;
}

.list-group-item.active {
  margin-top: 40px;
  z-index: 2;
  color: #fff;
  background-color: #d1866f;
  border-color: transparent;
  height: auto;
  width: auto;
  left: 0;
}

.container-fluid {
  margin-bottom: 40px;
  display: flex;
}

body {
  background: #504642;
  background: -webkit-linear-gradient(to right, #ca633d, #636fa4);
  background: linear-gradient(to right, #e8cbc0, #855a2a);
  min-height: 100vh;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(194, 119, 119);
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
